.intext{
    position:absolute;
    top: 200px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-bottom-width: .5px;
    border-bottom-color:#2d355e;
    background-color: #2d355e;
    border-radius: 40px;
    width: 200px;
    height: 40px;
    font-size: 20px;
    font-family: Consolas,monaco,monospace;
    color: white;
    
}
.pass{
    position:absolute;
    left:250px;
    top: 196px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: solid;
    border-bottom-style:solid;
    border-bottom-color: #0a2738;
    border-left-color: #0a2738;
    background: #45E645;
    border-radius: 360px;
    width: 50px;
    height: 50px;
}
.blogs{
    position:absolute;
    top:300px;
}